<div class="categories">
  <h3>Admin actions</h3>
    <span >
      <%= link_to "Change email && phone", settings_path,
        class: "category"%>
    </span>
    <span class="category">
      <%= link_to "Categories management", categories_admin_path %>
    </span>
    <span class="category">
      <%= link_to "More categories", "#" %>
    </span>
    <span class="category">
      <%= link_to "More categories", "#" %>
    </span>
    <span class="category">
      <%= link_to "More categories", "#" %>
    </span>
    <span class="category">
      <%= link_to "More categories", "#" %>
    </span>
  </div>
</div>