<ul>
  <li>
    <%= link_to "Create new setting", new_setting_path %>
  </li>
  <li>
    <%= link_to "All setting", all_settings_path %>
  </li>
</ul>

<%= @setting["username"] %>@<%= @setting["domain"] %>
<%= @setting["phone"] %>
