<div class="side_nav">
  <div class="categories">
  <h3>Categories tags</h3>
    <% @categories.each do |category| %>
      <span >
        <%= link_to category.name, "#",
          class: "category"%>
      </span>
    <% end %>
        <span class="category">
        <%= link_to "More categories", "#" %>
      </span>
  </div>
</div>

<div class="product_preview">
    <h3>Products</h3>
    <div class="products_block">
    <div class="product">
      <h6>sdfsdf</h6>
      <%= image_tag 'logo', class: "img", alt: "e-shop logo"%>
    </div>

    <div class="product">
      sdfdsf
    </div>
      <div class="product">
      <h6>sdfsdf</h6>
      <%= image_tag 'logo', class: "img", alt: "e-shop logo"%>
    </div>

    <div class="product">
      sdfdsf
    </div>
      <div class="product">
      <h6>sdfsdf</h6>
      <%= image_tag 'logo', class: "img", alt: "e-shop logo"%>
    </div>

    <div class="product">
      sdfdsf
    </div>
      <div class="product">
      <h6>sdfsdf</h6>
      <%= image_tag 'logo', class: "img", alt: "e-shop logo"%>
    </div>

    <div class="product">
      sdfdsf
    </div>
      <div class="product">
      <h6>sdfsdf</h6>
      <%= image_tag 'logo', class: "img", alt: "e-shop logo"%>
    </div>

    <div class="product">
      sdfdsf
    </div>

    <div class="product">
      <h6>sdfsdf</h6>
      <%= image_tag 'logo', class: "img", alt: "e-shop logo"%>
    </div>

    <div class="product">
      sdfdsf
    </div>
      <div class="product">
      <h6>sdfsdf</h6>
      <%= image_tag 'logo', class: "img", alt: "e-shop logo"%>
    </div>

    <div class="product">
      sdfdsf
    </div>
      <div class="product">
      <h6>sdfsdf</h6>
      <%= image_tag 'logo', class: "img", alt: "e-shop logo"%>
    </div>

    <div class="product">
      sdfdsf
    </div>
    </div>
</div>
