<%= link_to 'New product', new_product_category_path%>

<h3>Params for products lookup </h3>
<%= bootstrap_form_with url: products_by_path, local: true, method: :get do |f| %>
  <%= f.text_field :keyword,
    label: "Product by id, key word, price" %>

  <%= f.select :price_range,
    Product::PRICE.map { |e| "#{e[0]} - #{e[1]}" }.unshift("Select range"),
    label: "Pice range" %>

  <%= f.select :category,
    @categories.collect {|p| [ p.name, p.id ] }.unshift("Select category"),
    label: "Category" %>
  <%= f.submit 'Show' %>
<% end %>
<hr>

<%= if @products_by.present? then render template: "products/product" else "Products no finded" end %> 
