
<h3><%= @products_count %> <%= @products_count > 1 ? "products" : "product"%> finded</h3>
<hr>
<% @products_by.each do |product| %>
  <h6>
    <%= product.title %>
  </h6>
  <p>
    Id: <%= product.id %>
  </p>
  <p>
    Price: <%= product.price %>
  </p>
  <p>
    Short_description: <%= product.short_description %>
  </p>
  <p>
    Full_description: <%= product.full_description %>
  </p>
  <p>
    In_stock: <%= product.in_stock %>
  </p>
  <p>
    <%= image_tag product.preview_image if product.preview_image %>
  </p>
    <p>
      <%= image_tag(product.avatar.url, alt: "avatar", style: 'width: 10%') if product.avatar.url %>
    </p>
    <p>
      <% product.avatars.each do |avatar|  %>
        <%= image_tag(avatar.url, alt: "avatar", style: 'width: 10%') if avatar.url %>
      <% end %>
    </p>
  <p>
    Category name: <%= product.category.name %>
  </p>
  <%= link_to "Edit", edit_category_product_path(category_id: product.category_id, id: product)%>
  <%= link_to "Detail", category_product_path(category_id: product.category_id, id: product)%>
  <hr>
<% end %>
