<%= @p %>
<h3>Params for products lookup </h3>
<%= bootstrap_form_with url: products_by_path, local: true, method: :get do |f| %>
  <%= f.text_field :keyword,
    label: "Product id or key word" %>

  <%= f.text_field :price,
    placeholder: 'Type here price',
    label: "Price" %>

  <%= f.select :price_range,
    Product::PRICE.map { |e| "#{e[0]} - #{e[1]}" }.unshift("Select range"),
    label: "Pice range" %>

  <%= f.select :category,
    @categories.collect {|p| [ p.name, p.id ] }.unshift("Select category"),
    label: "Category" %>
  <%= f.submit 'Show' %>
<% end %>
<hr>
<%= @range if @range.present? %> 
<%= @cat if @cat.present? %> 
<%= if @products_by.present? then render template: "products/product" else "Products no finded" end %> 
