<h3>Params for products lookup </h3>
<%= bootstrap_form_with url: products_by_category_path, local: true, method: :get do |f| %>
  <%= f.check_box :by_word, label: "By key word" %>
  <%= f.text_field :word,
    label: "By id",
    hide_label: true %>

  <%= f.check_box :by_id, label: "By product id" %>
  <%= f.text_field :id,
    label: "By id",
    hide_label: true %>

  <%= f.check_box :by_category, label: "By category" %>
  <%#= binding.pry %>

  <%= f.select :name,
    @categories.map { |e| e.name }.unshift("Select category"),
    hide_label: true %>
  <%= f.submit 'Show' %>
<% end %>
<hr>
<%= render template: "products/product"  if @products_by_category.present? %> 