
<h3>Products</h3>
<hr>
<% @products_by_category.each do |product| %>
  <h6>
    <%= product.title %>
  </h6>
  <p>
    Id: <%= product.id %>
  </p>
  <p>
    Price: <%= product.price %>
  </p>
  <p>
    Short_description :<%= product.short_description %>
  </p>
  <p>
    Full_description: <%= product.full_description %>
  </p>
  <p>
    In_stock: <%= product.in_stock %>
  </p>
  <p>
    <%= image_tag product.preview_image %>
  </p>
  <p>
    Category name <%= product.category.name %>
  </p>
  <hr>
<% end %>