<h3>Params for products lookup </h3>
<%= bootstrap_form_with url: products_by_category_path, local: true, method: :get do |f| %>
  <%= f.radio_button :search_by, 0, label: "By product id or key word", checked: true %>
  <%= f.text_field :id,
    label: "By id",
    hide_label: true %>

  <%= f.radio_button :search_by, 1, label: "By category" %>
  <%#= binding.pry %>

  <%= f.select :name,
    @categories.map { |e| e.name }.unshift("Select category"),
    hide_label: true %>
  <%= f.submit 'Show' %>
<% end %>
<hr>
<%= render template: "products/product"  if @products_by_category.present? %> 
