<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= image_tag 'logo', class: "logo", alt: "e-shop logo"%>
      <%= render 'layouts/menu'%>
      <div class="contacts">
        <div id="phone"></div>
        <div id="email"></div>
      </div>
      <div class="search">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
      <%= image_tag 'iconfinder_eccomerce_-_shopping_cart_3440920', class: "cart", alt: "e-shop cart"%>
      <div class="cart_amount"></div>
    </header>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
    <footer>
      
    </footer>
  </body>
</html>
<script type="text/javascript">
  $.ajax({
    dataType: "json",
    url: '<%= "#{root_url}#{settings_path}"%>',
  })
  .done(function( data ) {
    console.log(data)
    $('#email').html('<a href="mailto:' + data.username + '@' + data.domain + '">Email: ' + data.username + '@' + data.domain + ' </a>')
    $('#phone').html('Phone: +38' + data.phone)
  });

  $('.cart_amount').html('10')
</script>
